@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding:0px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* HEADER */

#cabecera {
	width: 100%;
	height: 50px;
	background-color: #030502;	
	display: flex;
	justify-content: flex-start;
	align-content: space-between;
	padding-top: 30px;
	padding-left: 40px;
}

.botonera a{
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	color: white;
	padding: 2px 5px 5px 5px;
	border: 1px solid white;
	border-radius: 10px;
}

nav ul {
	list-style: none;
}
nav ul li {
	display: inline;
}

.botonera a:hover {
	color: darkolivegreen;
	background-color: white;
	font-weight: 700;
}

.botonera a:active {
	font-weight: 700; 
	background-color: #35431D;
	color: white;
}



/* MAIN */

main {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content:space-around;
	width: 100%;
	background-color: #0B120A;
}


/* TXT */

h1 {
	font-family: 'Lora', serif;
	font-style: bold;
	font-size: 40px;
	color: white;
}

h2 {
	font-style: italic;
	color: white;
	font-family: 'Lora', serif;
	font-size: 20px;
}

h3

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	font-weight: 900;
	color: white;
}

p {
	font-family: 'Lora', serif;
	font-size: 14px;
	font-weight: 200;
}



/* INDEX */

.section_ppal {
	height: 700px;
	width: 100%;
	background-color: #0B120A;
	display:flex;
	justify-content: center;
	align-items: center;
}

.titulos {
	position: absolute;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: space-between;
	line-height: 34px;
}



.boton_ppal {
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	color: white;
	background-color: #0B120A;
	padding: 2px 5px 5px 5px;
	border: 1px solid white;
	border-radius: 10px;
}
	
.boton_ppal:hover {
	color: darkolivegreen;
	background-color: white;
	font-weight: 700;
}

.boton_ppal:active {
	font-weight: 700; 
	background-color: #35431D;
	color: white;
}

.slider_pag {
	align-self:flex-end;
	position: absolute;
	height: 12px;
	width: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 40px;
}

.circulo-si {
	height: 12px;
	width: 12px;
	background-color: white;
	border-radius: 50%;
}

.circulo-no {
	height: 12px;
	width: 12px;
	background-color: #9FBD6A;
	border: 50px;
	border-radius: 50%;
}

/* SOBRE MI */

.main_sobre_mi{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content:space-around;
	width: 100%;
}

.section_sobre_mi {
	height: 700px;
	width: 80%;
	background-color: #0B120A;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-left: 80px;
}

.info{
	color:antiquewhite;
	padding-left: 40px;
}

.lista{
	padding-top: 30px;
	color: antiquewhite;
	width: 60%;
}

ol{
	list-style: none;
}

.aside_sobre_mi{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	height: 450px;
	width: 300px;
	margin-right: 40px;
	padding-left: 20px;
	box-sizing: border-box;
	border-radius: 20px;
	color: floralwhite;
	font-family: 'Lora', serif;
	font-size: 14px;
	gap: 30px;
}

aside h4 {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 900;
	font-variant: small-caps;
}

.objetivos {
	border:dashed;
	border-width: 1px;
	border-color: olivedrab;
	border-radius: 20px;
	padding-left: 20px;
	margin-left: -20px
}

.objetivos p {
	padding-left: 35px;
	padding-right: 35px
}

.programas {
	display: flex;
	list-style: none;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.programas li {
	line-height: 30px;
	padding-right: 12px;
	flex-flow: row wrap
}

.circulos {
	height: 12px;
	width: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.circulo-si {
	height: 12px;
	width: 12px;
	background-color: white;
	border-radius: 50%;
}

.circulo-no {
	height: 12px;
	width: 12px;
	background-color: #9FBD6A;
	border: 50px;
	border-radius: 50%;
}

.boton_sobre_mi {
	margin-top: 30px;
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	color: white;
	background-color: #0B120A;
	padding: 2px 5px 5px 5px;
	border: 1px solid white;
	border-radius: 10px;
}
	
.boton_sobre_mi:hover {
	color: darkolivegreen;
	background-color: white;
	font-weight: 700;
}

.boton_sobre_mi:active {
	font-weight: 700; 
	background-color: #35431D;
	color: white;
}


/* PORTFOLIO */
.proyectos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 10px;
	color: darkolivegreen;
	background-color: floralwhite;
	border:dashed;
	border-width: 2px;
	border-color: olivedrab;
	border-radius: 20px;
	list-style: none;
}

.proyectos img {
	box-shadow: 2px 2px 5px darkolivegreen;
	margin-right: 10px;
}

.proyectos h5 {
	font-size: 10px;
	font-style: italic
}
.proyectos p {
	font-size: 12px
}
.proyectos li{
	line-height: 2px;
}


.article_portfolio {
	height: 700px;
	width: 100%;
	background-color: #0B120A;
	display:flex;
	justify-content: center;
	align-items: center;
}

.titulos_portfolio {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: space-between;
	line-height: 34px;
}



.boton_ppal {
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
	color: white;
	background-color: #0B120A;
	padding: 2px 5px 5px 5px;
	border: 1px solid white;
	border-radius: 10px;
}
	
.boton_ppal:hover {
	color: darkolivegreen;
	background-color: white;
	font-weight: 700;
}

.boton_ppal:active {
	font-weight: 700; 
	background-color: #35431D;
	color: white;
}

.slider_pag {
	align-self:flex-end;
	position: absolute;
	height: 12px;
	width: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 40px;
}

.circulo-si {
	height: 12px;
	width: 12px;
	background-color: white;
	border-radius: 50%;
}

.circulo-no {
	height: 12px;
	width: 12px;
	background-color: #9FBD6A;
	border: 50px;
	border-radius: 50%;
}




/* CONTACTO */

/* FOOTER */

footer {
	display: flex;
	flex-direction: row;
	background-color: darkolivegreen;
	color: white;
	width: 100%;
	height: 100px;
	align-content: center;
	justify-content: center
}

footer ul {
	display: flex;
	list-style: none;
	align-items: center;
	color: #FFFFFF
}

footer ul li {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	line-height: 0.5px;
	text-indent: 5px;
}