@charset "utf-8";
/* CSS Document */

*{
	animation: transitionIn 0.5s;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
/*	animation: transitionIn 1s;*/
/*	background: linear-gradient(-45deg,#f29699,#f3e795,#f29699,#10393e);*/
	background: linear-gradient(-45deg,#10393e,#061719,#10393e);
	animation: background 12s ease infinite;
	background-size: 400% 400%;
	zoom: 75%;
}

@keyframes background {
	0%{
		background-position: 0% 50%
	}
	50%{
		background-position: 100% 100%
	}
	100%{
		background-position: 0% 50%
	}
}

@keyframes transitionIn{
	from{
		background-color: rgba (16, 57, 62, 1);
		opacity:0;
		transform: rotateY(-5deg);
	}
	
	to{
		opacity:1;
		transform: rotateY(0)
	}
}

main{
	margin-top:80px;
}

h1{
	margin-top:0px;
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 200px;
	color: #F9F9F9;
	padding-left: 35px;
	margin-bottom: 0px;
}

h4{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #F9F9F9;
}

h2{
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
	padding: 0px;
	color: #F9F9F9;
}

h3{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	padding: 0px;
	color: #F9F9F9;
}

p{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.4px;
	color: #F9F9F9;
}

li{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.4px;
	color: #F9F9F9;
}

.titulos h1 {
	padding-left: 35px;
}

.titulos h2 {
	padding-left: 40px;
}

.titulos div {
	line-height: 20px;
}


aside{
	margin-top:100px;
}

/*
.audio{
	position:absolute;
	scale: 0.8;
	top:710px;
	right:30px;
}

audio{
	border: 1px solid floralwhite;
	border-radius: 30px;
}

audio::-webkit-media-controls-panel{
	background-color: #3A5126;
}

audio::-webkit-media-controls-current-time-display{
    color: floralwhite;
}
audio::-webkit-media-controls-time-remaining-display{
    color: floralwhite;
}
*/

/*INDEX*/
.main-index{
	width: 100%;
	height: 660px;
	background-color: transparent;
/*	background: url("img/background-index.svg");
	background-repeat: no-repeat;*/
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 45px;
}



.main-index aside{
	height: 515px;
	width: 345px;
	margin-top:0px;
	background-color: transparent;
	background-image: url("img/estrellita_form.png");
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px transparent;
	box-shadow: 0px 0px 0px 0px transparent;
}

.eyes{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 221px;
	margin-left: 113px;
	gap: 6px;
}

.eye{
	width: 15px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
}

.ball{
	width: 10px;
	height: 20px;
	border-radius: 50%;
	background-color: antiquewhite;
}


.section-index{
	padding-top: 50px;
	height: 50%;
	width: 50%;
	gap:0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.section-index .titulos {
	width: auto;
	height: auto;
	justify-content: flex-end;
	gap:50px;
}

.section-index .titulos h1{
	margin: 0px;
	text-wrap:wrap;
	padding-left: 0px
}

.section-index .titulos h4{
	padding-left: 10px
}

.section-index .titulos p{
	padding-left: 5px
}

.boton-index {
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: white;
	padding: 1px 15px 2px 15px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
/*border:1px solid rgba(255, 255, 255, 0.18);*/
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	text-align: center;
	margin-left: 2px;
	align-self: flex-start
}


.boton-index:hover {
	color: #f29699;
	background-color: white;
	font-weight: 700;
}

.boton-index:active {
	font-weight: 700; 
	background-color: #f29699;
	color: white;
}




/*MOBILE*/
@media (max-width:600px){
	
}





/*SOBRE-MI*/
#cabecera {
	width: 100%;
	height: 15%;
	background-color: transparent;	
	display: flex;
	justify-content: space-between;
	margin-left: 45px;
	margin-right: 45px;
	box-sizing: content-box;
}

.aboutme {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	align-content: space-between;
	gap: 30px;
}

.aboutme h1{
	padding-left: 35px;
	margin-bottom: 0px;
}

.aboutme article {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.aboutme img{
	border-radius: 50%;
	border:1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
	
}

.aboutme-info{
	display: flex;
	flex-direction: column;
	line-height: 20px;
}



.aboutme-img-info {
	display:flex;
	flex-direction: row;
	margin-left: 40px;
}

.aboutme-tabs{
	width: 500px;
	height: 360px;
}


.tabs{
	position: absolute;

	width: 500px;
	height: 360px;
	padding: 10px 20px;
	overflow: hidden;
	background: transparent;
}

.tabs .tab-header{
	display: flex;
	flex-direction: column;
	float: left;
	width: 25%;
	height: 72%;
	border-right: 1px solid white;
	padding: 22px 0px;
	overflow: hidden;
}

.tabs .tab-header div{
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	color: #CCCCCC;
	padding-left: 10px;
	text-align: start;
}

.tabs .tab-header div:hover,
.tabs .tab-header div.active{
	color: olive;
}

.text-white{
	color: #F9F9F9
}

.tab-content{
	position: relative;
	height: 100%;
	overflow: hidden;
}

.tab-header h4{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}


.tab-content div h4{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	margin: 0px;
}

.tab-content div h2{
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 28px;
	padding: 0px;
}

.tab-content div h3{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	padding: 0px;
}

.tab-content div p{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.4px
}

.tab-content div{
	position: absolute;
	text-align: flex-start;
	padding: 55px 40px;
	top: -200%;
}

.tab-content div.active{
	top: 0;
	width: 75%;
}

.tab-indicator{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 122px;
	top:45px;
	transition: all 500ms ease-in-out;
	background-image: url('./img/estrellita-ind.png');
	background-repeat: no-repeat;
	background-size: 75px;
	background-position: center;
}











.aside-about-me {
	height: 660px;
}



.titulos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-content: space-between;
	line-height: 120px;
}

.titulos h1 {
	padding-left: 35px;
}

.titulos h2 {
	padding-left: 40px;
}

.titulos div {
	line-height: 20px;
}

header button {
	border-color: transparent;
	background-color: transparent;
	align-self: flex-start;
}

.botonera a {
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: white;
	padding: 1px 15px 2px 15px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	text-align: center;
}


nav ul {
	list-style: none;
}
nav ul li {
	display: inline;
}

.botonera a:hover {
	color: #f29699;
	background-color: white;
	font-weight: 700;
}

.botonera a:active {
	font-weight: 700; 
	background-color: #f29699;
	color: white;
}

.sobre-mi-article {
	width: 100%
}

.sobre-mi-article {
	display: flex;
	align-items: flex-start;
	justify-content:space-around;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: transparent;
	color: #415224;
}

.info-personal h4{
	font-family: 'Lora', serif;
	font-weight: 900;
	font-size: 14px;
	color: #3A5126;
}

.info-personal p{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.4px;
	color: #061719;
}



.programas {
	display: flex;
	list-style: none;
	flex-flow: row wrap;
	justify-content:flex-start;

}

.programas li {
	line-height: 0.5px;
	padding-right: 12px;
	flex-flow: row wrap
	}

.circulos {
	height: 12px;
	width: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.circulo-si {
	height: 12px;
	width: 12px;
	background-color: white;
	border-radius: 50%;
}

.circulo-no {
	height: 12px;
	width: 12px;
	background-color: #f3e795;
	border: 50px;
	border-radius: 50%;
}

aside {
	display: flex;
	flex-direction: column;
	height: 480px;
	width: 300px;
	margin-left: 40px;
	padding-left: 20px;
	box-sizing: border-box;
/*	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border:1px solid rgba(255, 255, 255, 0.18);*/
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
	border-radius: 20px;
		
}


.objetivos-about-me {
	align-content: center;
	color: #EA5A5F;
	padding-left: 20px;
	margin-left: -20px;
	background: white;
	border-radius: 20px;
	padding-bottom: 15px;
}

.objetivos-about-me p {
	padding-left: 35px;
	padding-right: 35px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13.9px;
	line-height: 19px;
	letter-spacing: 0.4px;
	color: #EA5A5F;
	margin: 0px;
}

.objetivos-about-me h4{
	color: #EA5A5F;
	margin: 0px;
	padding: 15px 0px 10px 0px;
}

.objetivos-about-me h3{
	color: #EA5A5F;
	padding-left: 31px;
	margin:0px;
	font-family: "DM Serif Display", serif;
	font-weight: 900;
	font-style: italic;
}










.objetivos {
	color: #EA5A5F;
	padding-left: 20px;
	margin-left: -20px;
	background: white;
	border-radius: 20px;

}

.objetivos p {
	padding-left: 35px;
	padding-right: 35px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 13.9px;
	line-height: 19px;
	letter-spacing: 0.4px;
	color: #EA5A5F;
}

.objetivos h4{
	color: #EA5A5F;
}

.objetivos h2{
	color: #EA5A5F;
}

.aptitudes {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-right: 35px
}

.hobbies p {
	padding-left: 35px;
	padding-right: 35px;
	
}



/*FORMULARIO*/

.aside-form-img{
	margin-top: 85px;
	margin-left: -20px;
	display: flex;
	flex-direction: column;
	height: 560px;
	width: 300px;
	padding-left: 20px;
	box-sizing: border-box;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
		
}

.main-form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	align-content: space-between;
	gap: 30px;
}

.main-form h1{
	padding-left: 35px;
	margin-bottom: 0px;
}

.main-form article {
	display: flex;
	flex-direction: column;
	gap: 0px;
}


.main-form-info{
	display: flex;
	flex-direction: column;
	line-height: 20px;
}

.main-form h2{
	font-style: italic;
	color: white;
	font-family: 'Lora', serif;
	font-size: 22px;
	padding-left: 40px;
}

.main-form h3{
	padding-left: 40px;
}


.main-form-img-info {
	display:flex;
	flex-direction: row;
}



.titulos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-content: space-between;
}








.section-formulario{
	display: flex;
	flex-direction: row-reverse;
	width: 858px;
	height: 700px;
	margin-left: 35px;
	padding-left: 35px;
	padding-top: 35px;
	background-color: floralwhite;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.section-formulario h1{
	padding-left: 35px;
	margin-bottom: 0px;
}

.formulario-info{
	display: flex;
	flex-direction: column;
	width: 35%;
	margin-bottom: 20px;
	line-height: 36px;
	justify-content: center;
	align-items: flex-start;
}

form label, form p{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-variant: small-caps;
	font-weight: 900;
	color: #EF878B;
	margin-bottom: 3px;
}

.formulario-info p{
	font-family: 'Lora', serif;
	font-weight: 900;
	font-size: 14px;
	color: #EF878B;
	margin: 0px;
}


form {
	width: 67%;
	height: auto;
	display: flex;
	flex-direction: column;
}

form div{
	display: flex;
	flex-direction: column;
}

label{
	display: block;

}

input{
	width: 75%;
	height: 15px;
	padding: 10px;

	background: floralwhite;
	border-radius: 20px;
	border:1px solid rgba(242 171 152);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

input:hover{
	cursor:pointer;
}

input[type=radio], input[type=checkbox]{
	width: auto;
	height: auto;
}




/*SECTION FORM DATOS*/
.section-form-datos{
	display: flex;
	flex-direction: column
}

.form-nombre-apellido{
	display: flex;
	flex-direction: row;
	width: auto;
}

.form-radio{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.form-radio label{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
}


input[type="radio"] {
	appearance: none;
	background-color: floralwhite;
	border-radius: 50%;
	height: 5px;
	width: 5px;
	align-items: center;
	border:1px solid rgba(242 171 152);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
	
}

input[type="radio"]:hover {
	appearance: none;
	background-color: #EA5A5F;
	border:1px solid rgba(242 171 152);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	height: 5px;
	width: 5px;
}

input[type="radio"]:checked {
	appearance: none;
	background-color: #EA5A5F;
	border-radius: 50%;
	height: 5px;
	width: 5px;
}


.form-email-cel{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}



/*FORM SECTION SOLICITUD*/
.section-form-solicitud{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px
}

.form-consulta{
	display: flex;
	flex-direction: column;
	width: 55%;
	align-content: space-around;
}

.form-checkbox{
	justify-content: flex-end;
}


/*FORM CONSULTA*/

textarea{
	padding:10px;
	background-color: floralwhite;
	border:1px solid rgba(242 171 152);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	margin-bottom: 10px
}

.consulta-asunto textarea{
	width: 100%;
	height: 16px;
}

.consulta-mensaje textarea{
	width: 100%;
	height: 250px;
}




/*FORM CHECKBOX*/


.objetivos p{
	color: #EF878B;
}

.objetivos h3{
	color: #EF878B;
}

.checkbox {
	padding: 10px 10px 5px 5px;
	margin-bottom: 10px
}

.checkbox label{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.4px;
	color: #F9F9F9;
}


input[type="checkbox"] {
	appearance: none;
	background-color: floralwhite;
	border:1px solid rgba(242 171 152);
	border-radius: 50%;
	height: 5px;
	width: 5px;
}


input[type="checkbox"]:hover {
	appearance: none;
	background-color: #EA5A5F;
	color: floralwhite;
	border-radius: 50%;
	height: 5px;
	width: 5px;
}

input[type="checkbox"]:checked {
	appearance: none;
	background-color: #EA5A5F;
	border-radius: 50%;
	height: 5px;
	width: 5px;
}








/*FORM CONFIRMAR*/

.form-confirmar{
	display: flex;
	flex-direction: column;
}

.section-form-confirmar p{
	color: #ACACAC;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-variant: normal;
}

.form-enviar-borrar{
	display: flex;
	flex-direction: row;
	gap: 10px;
}

input[type=reset], input[type=submit]{
	width: 20%;
	border-radius: 20px;
	padding: 5px;
	height: 25px
}

input[type=submit]{
	color: floralwhite;
	background-color: #EA5A5F;
	border:1px solid rgba(242 171 152);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

input[type=reset]{
	color: rgba(242 171 152);
	background-color: floralwhite;
	border:1px solid rgba(242 171 152);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

input[type=reset]:hover, input[type=submit]:hover {
	font-weight: 700; 
	background-color: #021f23;
	color: white;
}

input[type=reset]:active, input[type=submit]:active {
	font-weight: 700; 
	background-color: #021f23;
	color: white;
}







/*WORKS*/
.main-works{
	margin-top:60px;
}

.article-works {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	align-content: space-between;
	gap: 30px;
}

.section-works{
	display: flex;
	margin-top:0px;
}

.article-works aside{
	height: 410px;
}

/*
.img-slider{
	position: relative;
	width: 920px;
	height: 500px;
	border-radius: 20px;
	margin-left: 35px;
	background-color: transparent;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.img-slider .slide{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	clip-path: circle(0% at 0 50%); 
}

.img-slider .slide.active{
	clip-path: circle(150% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}


.img-slider .slide img{
	z-index: 1;
	width: 100%;
	border-radius: 20px;
	height: 100%;
	object-fit: cover;
}

.img-slider .slide .slide-info{
	position: absolute;
	top: 0;
	padding: 15px 30px;
}

.slide-info h2{
	color: rgba(252,252,252,1.00);
}

.slide-info p{
	color: rgba(252,252,252,1.00);
}

.img-slider .navigation{
	z-index: 2;
	position: absolute;
	display: flex;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.img-slider .navigation .btn{
	background:rgba(255,255,255,0.74);
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.img-slider .navigation .btn.active{
	background:#f29699;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
*/

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.container {
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
	width: 80px;
	border-radius: .75rem;
	background-size: cover;
	cursor: pointer;
	overflow: hidden;
	border-radius: 2rem;
	margin: 0 10px;
	display: flex;
	align-items: flex-end;
	transition: .6s cubic-bezier(.28,-0.03,0,.99);
	box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.15);
	
}

/*
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border:1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
*/

.card > .row {
	color: white;
	display: flex;
	flex-wrap: nowrap;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
	width: auto;
	height: 100%;
	align-items: flex-end;
	padding-bottom: 20px
}

.card > .row > .icon {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
	color: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 15px 45px 15px;
}

.card > .row > .description {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	overflow: hidden;
	height: 150px;
	width: 520px;
	opacity: 0;
	transform: translateY(30px);
	transition-delay: .3s;
	transition: all .3s ease;
	line-height: 25px;
}

.description p {
    color: #b0b0ba;
	margin-bottom: 8px;
}

.description h4 {
	margin-top: 0px;
	font-family: 'Raleway', sans-serif;
	font-style: bold;
	font-size: 60px;
	color: white;
	margin-bottom: 0px;
}

.description a {
	width: 100px;
	height: 20px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: white;
	padding: 1px 15px 2px 15px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border:1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	text-align: center;
}

.container input {
    display: none;
}

.container input:checked + label {
    width: 1200px;
}

.container input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img/portfolio_ploteo.jpg');
}
.card[for="c2"] {
    background-image: url('./img/riña-gif.gif');
}
.card[for="c3"] {
    background-image: url('./img/work-slider-1.jpg');
}
.card[for="c4"] {
    background-image: url('./img/portfolio_libros.jpg');
}







/*FOOTER*/
footer {
	display: flex;
	flex-direction: row;
	color: white;
	width: 100%;
	align-content: center;
	justify-content: space-between;
}

footer ul {
	display: flex;
	list-style: none;
	align-items: baseline;
	color: #FFFFFF;
	margin-right: 45px;
	box-sizing: border-box;
}

footer ul li {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	line-height: 0.5px;
	text-indent: 5px;
}


.lateral-a li{
	align-content: center
}

.lateral-a{
	display: flex;
	flex-direction: row;
	left:120px;
	list-style: none;
	gap:10px;
	align-items: flex-start;
	margin:0px;
	margin-top:27px;
}

.lateral-a a{
	align-self: baseline;
}

.lateral-a a img{
	color:floralwhite;
}

