@charset "utf-8";
/* CSS Document */
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cabecera {
	width: 100%;
	height: 350px;
	background-color: #3A5126;	
	display: flex;
	justify-content: center;
	align-content: space-between;
	padding-top: 50px;
}

#titulos {
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-content: space-between;
}

header h1 {
	color: white;
	padding-left: 40px;
}

header h2 {
	font-style: italic;
	color: white;
	padding-left: 40px;
}



.botonera a {
	width: 100px;
	height: 20px;
	text-decoration: none;
	color: white;
	padding: 5px 5px;
	border: 1px solid white;
	border-radius: 10px;
}

nav ul {
	list-style: none;
}
nav ul li {
	display: inline;
}

.botonera a:hover {
	color: darkolivegreen;
	background-color: white;
	font-style: italic;
}

.botonera a:active {
	font-style: italic;
	background-color: #35431D;
	color: white;
}

main {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content:space-around;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #C4C1BC
}


article {
	background-color: olive
}

aside {
	background-color: peru;
	height: 500px;
	width: 300px
}

footer {
	display: flex;
	flex-direction: row;
	background-color: palegoldenrod;
	width: 100%;
}